@media screen and (min-width: 1040px){
    *, ::after, ::before {
        box-sizing: border-box;
    }

    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    ul,
    ol {
        margin: 0;
        padding: 0;
    }

    .link {
        text-decoration: none;
    }

    .list {
        list-style: none;
    }

    img {
        display: block;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .no-scroll {
        overflow: hidden;
    }

    
    .mobile{
        display: none;
    }

    /*header*/
    .header-section{
        display: flex;
        padding: 22px 166px;
        justify-content: space-between;
    }
    .header-logo {
    }
    .header-list {
        display: flex;
        gap: 30px;
        align-items: center;

    }

    .header-item {
    }
    .header-link {
        font-weight: 400;
    font-size: 16px;
    color: #676767;
    }

    .header-item:hover {
        transform: scale(1.1); /* Збільшення на 10% */
        transition: transform 0.2s ease; /* Плавний перехід */
    }

    .header-button {
        background-color: #4FBE5A;
        height: 36px;
        border-radius: 50px;
        border: none;

        font-weight: 600;
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 8px 48px 8px 12px;
    }

    .header-burger{
        display: none;
    }




    .hero-section{
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;

    }


    .slideshow-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 24px;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        outline: none;
        user-select: none;
    }
    .prev {
        left: 20px;
    }
    .next {
        right: 20px;
    } 
    .hero-btn-list{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%; 
    padding: 0 10px;
        width: 100%;
        
    }

    .hero-previous-btn {
        background-color: transparent;
        border: none;
        color:#fff;
        font-size: 50px;
        font-weight: 600;
    }
    .hero-next-btn {
        background-color: transparent;
        border: none;
        color:#fff;
        font-size: 50px;
        font-weight: 600;

    }

    .hero-inside{
        position: absolute;
        top: 50%; 
        left: 30%; 
        transform: translate(-50%, -50%);

    }

    .hero-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 15px;
        font-family: "Cinzel";
    }
    .hero-title-2 {
        font-weight: 700;
        font-size: 52px;
        line-height: 77%;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        font-family: "Cinzel";

    }


    .hero-text {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #fff;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
    }

    .hero-text-2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 8px;
    }
    .hero-list {
        display: flex;
        gap: 16px;
    }

    .hero-item {
    }


    .hero-btn:hover {
        transform: scale(1.03); /* Збільшення на 10% */
        transition: transform 0.2s ease; /* Плавний перехід */
    }


    .hero-section{
        
    }
    .hero-arr{
        border-radius: 50px;
    }
    .hero-btn {
        cursor: pointer;
        width: 255px;
        height: 46px;
        border-radius: 50px;
    }

    .hero-arrow{
        margin-left: 31px;

    }
    .btn1{
        font-weight: 700;
        font-size: 16px;
        color: #fff;

        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
        background: #bf7d7d;
        border: none;
    }
    .btn2{
        font-weight: 700;
        font-size: 16px;
        color: #ba7272;
        border: 1px #CF7F7F;
        padding-left: 61px;
        
    }


    .albums-section {
        background-image: url(../images/albums/alboms-bg.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 705px;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 75px;
        margin-bottom: 214px;
    }

        .albums-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: #945d5d;
        width: 543px;
        margin: 0 auto 18px auto;
    }
    .albums-text {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #676767;
        margin-bottom: 41px;
    }

    .albums-list1 {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 30px;
        
    }
    .albums-item1 {
        width: 540px;
        border: 1px solid #fff;
    }
    .albums1-img {
    }
    .albums1-title {
    }
    .albums1-btn {
        width: 255px;
        height: 46px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    background: #bf7d7d;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding-left: 77px;
    }

    .alb-arrow{
        margin-left: 44px;
    }

    .albums1-btn:hover,
    .albums1-btn:focus{
        transform: scale(1.05); /* Збільшення на 10% */
        transition: transform 0.2s ease; /* Плавний перехід */

    }
    .albums-list2 {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .albums-item2 {
        width: 350px;
        border: 1px solid #fff;
        

    }

    .albums2-wrapper{
        position: relative;
        overflow: hidden;
    }
    .albums2-img {
        
    }
    .albums2-title {
        font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-transform: lowercase;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: "Cinzel";

    }
    .albums2-btn {
        width: 46px;
        height: 46px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    background: #bf7d7d;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 13px;
    }
    .alb-arrow2{

    }
    .album-wrapper{

    }

    .album2-overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 9px 31px;
        align-items: center;
        background-color: rgba(56, 45, 28, 0.75);

        
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .albums-item2 :hover .album2-overlay, 
    .albums-item2 :focus .album2-overlay {
        transform: translateY(0%);
    }


    .gallery-section {
        padding: 0 178px;
    }
    .gallery-title {
    font-weight: 700;
    font-size: 20px;
    color: #945d5d;
    text-align: center;
    margin-bottom: 20px;
    }
    .gallery-text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #676767;
    margin-bottom: 37px;
    }
    .gallery-big-list {
        display: flex;
        gap: 54px;
    }

    .gallery-list1 {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }
    .gallery-item1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    text-transform: uppercase;
    color: #945d5d;
    width: 326px;
    height: 68px;
    display: flex;
    gap: 9px;
    }

    .gallery-item1-svg{
        width: 36px;
        height: 36px;
    }
    .gallery-item1-tetx{
        font-family: "Cinzel";
        font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    text-transform: uppercase;
    color: #945d5d;
    background-color: transparent;
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
    border: 1px solid #bbb;
    width: 326px;
    cursor: pointer;

    }
    .gallery-list2 {
        display: flex;
        gap: 31px;
    }
    .gallery-item2 {
    }
    .gallery-photo {
        width: 351px;
        height: 415px;
    }
    .gallery-names {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 17px;
    }
    .gallery-story {
        font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin-bottom: 153px;
    }
    .gallery-btn {
        width: 255px;
    height: 46px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color: #BF7D7D;
    border-radius: 50px;
    border: none;
    }
    .gb{
        height: 46px;
    }
    .gallery-btn:hover,
    .gallery-btn:focus{
        transform: scale(1.05); /* Збільшення на 10% */
        transition: transform 0.2s ease; /* Плавний перехід */

    }

    .wrapper {
        max-width: 1100px;
        width: 100%;
        position: relative;
    }
    .wrapper i {
        top: 1;
        height: 50px;
        width: 50px;
        position: absolute;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        padding: 15px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);

    }
    .wrapper i:active{
    }
    .wrapper i:first-child{
        left: 500px;
    }
    .wrapper i:last-child{
        right: 150px;
    }
    .wrapper .carousel{
        width: 950px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 350px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }
    .carousel::-webkit-scrollbar {
        display: none;
    }
    .carousel.no-transition {
        scroll-behavior: auto;
    }
    .carousel.dragging {
        scroll-snap-type: none;
        scroll-behavior: auto;
    }
    .carousel.dragging .card {
        cursor: grab;
        user-select: none;
    }
    .carousel :where(.card, .img) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .carousel .card {
        scroll-snap-align: start;
        list-style: none;
        background: #fff;
        cursor: pointer;
        flex-direction: column;
    }


    

    .gallery-wrapper{
        position: relative;
        overflow: hidden;
    }

    .gallery-overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        backdrop-filter: blur(4px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: rgba(54, 47, 36, 0.75);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 28px 51px;

    }

    .gallery-wrapper:hover .gallery-overlay, 
    .gallery-wrapper:focus .gallery-overlay {
        transform: translateY(0%);
        outline: solid  #c58622 ;
        outline-offset: -20px;
    }



    .reviews-section {
        margin-top: 75px;
        padding: 0 165px;
        background-image: url(../images/reviews/bgs/revbg.png);   
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;

    }
    .reviews-title {
    font-weight: 700;
    font-size: 20px;
    color: #945d5d;
    text-align: center;
    margin-bottom: 37px;
    }
    .reviews-list {
        display: flex;
        gap: 30px;
        padding-bottom: 150px;
    }
    .reviews-item {
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    }
    .reviews-wrapper{
        display: flex;
        gap: 15px;
        width: 350px;
    height: 103px;
    flex-wrap: wrap;
    }
    .reviews-photo {
        width: 73px;
        height: 73px;
        margin-top: 15px;
    }
    .reviews-list-title {
        font-weight: 700;
        font-size: 14px;
        color: #676767;
        line-height: 1.2rem; 
        margin-top: 30px;   
    }
    .reviews-names {
    font-size: 14px;
    color: #676767;
    font-weight: 400;

    }
    .reviews-text {
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        height: 267px;
        margin-bottom: 15px;
        border-bottom: solid  #c58622 ;;
    }
    .reviews-list-title2 {
        margin-bottom: 3px;
        font-weight: 700;
        font-size: 12px;
        color: #fff;
    }
    .reviews-cost {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    }

    .reviews-wr {
        display: flex;
        flex-direction: column;
    }



    .rev-wrapper {
        max-width: 1100px;
        width: 100%;
        position: relative;
    }
    .rev-wrapper i {
        top: 480px;
        height: 50px;
        width: 50px;
        position: absolute;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        padding: 15px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    }
    .rev-wrapper i:active{
    }
    .rev-wrapper i:first-child{
        left: -22px;
    }
    .rev-wrapper i:last-child{
        right: 150px;
    }
    .rev-wrapper .reviews-carousel{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 350px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }
    .reviews-carousel::-webkit-scrollbar {
        display: none;
    }
    .reviews-carousel.no-transition {
        scroll-behavior: auto;
    }
    .reviews-carousel.dragging {
        scroll-snap-type: none;
        scroll-behavior: auto;
    }
    .reviews-carousel.dragging .reviews-card {
        cursor: grab;
        user-select: none;
    }
    .reviews-carousel :where(.reviews-card, .rev-img) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reviews-carousel .reviews-card {
        scroll-snap-align: start;
        list-style: none;
        background: #fff;
        cursor: pointer;
        flex-direction: column;
    }


    .rew1{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg1.png);
    padding: 9px 23px;
    }
    .rew2{
        height: 355px;
    background-image: url(../images/reviews/bgs/revbg2.png);
    padding: 9px 23px;
    }

    .rew3{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg3.png);
    padding: 9px 23px;
    }
    .rew4{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg4.png);
    padding: 9px 23px;
    }
    .rew5{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg5.png);
    padding: 9px 23px;
    }
    .rew6{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg6.png);
    padding: 9px 23px;
    }
    .rew7{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg7.png);
    padding: 9px 23px;
    }
    .rew8{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg8.png);
    padding: 9px 23px;
    }
    .rew9{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg9.png);
    padding: 9px 23px;
    }
    .rew10{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg10.png);
    padding: 9px 23px;
    }
    .rew11{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg11.png);
    padding: 9px 23px;
    }
    .rew12{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg12.png);
    padding: 9px 23px;
    }
    .rew13{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg13.png);
    padding: 9px 23px;
    }
    .rew14{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg14.png);
    padding: 9px 23px;
    }
    .rew15{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg15.png);
    padding: 9px 23px;
    }
    .rew16{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg16.png);
    padding: 9px 23px;
    }
    .rew17{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg17.png);
    padding: 9px 23px;
    }
    .rew18{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg18.png);
    padding: 9px 23px;
    }
    .rew19{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg19.png);
    padding: 9px 23px;
    }
    .rew20{
        height: 355px;
    background-image: url(../images/reviews/bgs/rev-bg20.png);
    padding: 9px 23px;
    }



    .text-section {
        background-image: url(../images/text/textbg.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
        }
    .text-title{
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #945d5d;    margin-bottom: 33px;
    }
    .text-ph-wrapper{
        position: relative;
        
    }
    .text-ph1 {
        position: absolute;
        
    }
    .text-ph2 {
        position: absolute;
        top: 130px;
        left: 190px;
        
    }
    .text-ph3 {
        position: absolute;
        top: 254px;
        left: 15px;
        
    }
    .text-ph4 {
        position: absolute;
        top: 374px;
        left: 0;
    }


    .text-ph11 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .text-ph12 {
        position: absolute;
        top: 133px;
        right: 190px;
    }
    .text-ph13 {
        position: absolute;
        top: 254px;
        right: 15px;
    }
    .text-ph14 {
        position: absolute;
        top: 374px;
        right: 0;
    }
    .text-list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .text-item {
        width: 353px;
        margin-bottom: 22px;
    }
    .text-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #676767;
    }
    .text-btn {
        width: 255px;
        height: 46px;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #9c6161;
        border: 2px solid #CF7F7F;
        border-radius: 50px;
        background-color: #fff;
    }
    .text-span{
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #676767;
        margin-left: 70px;
        margin-bottom: 10px;

    }
    .text-arr{
        margin-left: 37px;
    }

    .gift-section {
        background-image: url(../images/gift/giftbg.png); 
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        text-align: center;
    }
    .gift-title {
        padding-top: 71px;
        font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #945d5d;
    margin-bottom: 32px;
    }
    .gift-list{
        display: flex;
        gap: 12px;
        margin-bottom: 29px;
        justify-content: center;
    }
    .gift-item{

    }
    .gitr-img {
    }
    .gift-img {
    }
    .gift-text {
        width: 798px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 28px;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: #676767;
    }



    .gift-timer {
        font-size: 32px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 34px;
        margin-bottom: 9px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
    }
    
    
    .gift-hours{
        padding: 9px 14px;
        background-color: #CD8E7E;
        color: #fff;
    }

    .timer-span{
        color: #CD8E7E;
        font-size: 40px;
    }

    .gift-wrapper{
        display: flex;
        justify-content: center;
        gap: 110px;
        font-weight: 400;
        font-size: 10px;
        color: #676767;
        margin-bottom: 41px;
    }
    .gift-btn{
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
        background: #bf7d7d;
        border-radius: 50px;
        border: none;
        width: 255px;
        height: 46px;
        margin-bottom: 80px;
    }





    .form-section {
        background: url(../images/form/formbg.png) #252525;

        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .form-title {
        font-family: var(--third-family);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding-top: 38px;
    margin-bottom: 14px;
    }
    .form-list {
        display: flex;
        justify-content: center;
        gap: 31px;
        width: 541px;
        margin: 0 auto;
    }

    .form-item {
    }
    .form-text {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-align: left;
    margin-bottom: 4px;
    }
    .form-label {
    }
    .form-input{
        border: 1px solid #d9d9d9;
    width: 255px;
    height: 46px;
    margin-bottom: 5px;
    }
    .form-input::placeholder {
        font-weight: 600;
    font-size: 14px;
    color: rgba(103, 103, 103, 0.5);
    }
    .form-wrapper{
        text-align: left;
        width: 541px;
        margin: 0 auto;
    }

    .form-textarea{
        width: 541px;
    height: 170px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(103, 103, 103, 0.5);
    resize: none;
    border: none;
    margin-bottom: 26px;
    }

    .form-btn{
        width: 255px;
    height: 46px;
    border-radius: 50px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    background: #bf7d7d;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
    }

    .form-checkbox{
        width: 20px;
        border: none;
    }
    .form-agree{
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    color: #fff;
    padding-bottom: 32px;
    text-align:left;
    }




    .offer-section {
        background-image: url(../images/offer/offerbg.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        padding: 57px 282px 40px;
    }
    .offer-list {
        display: flex;
        gap: 52px;
        justify-content: center;
    }
    .offer-item {
    }
    .off-img-list {
    }
    .off-img-item {
    }
    .off-img {
        width: 391px;
        position: relative;
    }
    .i2{
        position: absolute;
    }
    .i3{
        position: absolute;

    }
    .offer-title {
    font-weight: 700;
    font-size: 20px;
    color: #945d5d;
    margin-bottom: 18px;
    }
    .offer-text {
        width: 441px;
    font-weight: 400;
    font-size: 16px;
    color: #676767;
    margin-bottom: 35px;
    }
    .offer-btn {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    width: 255px;
    height: 46px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    background: #bf7d7d;
    border: none;
    }


    .follow-section {
        text-align: center;

    }
    .follow-title {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #945d5d;
    margin-bottom: 18px;
    margin-top: 15px;
    }
    .follow-soc-list {
        margin-bottom: 21px;
        display: flex;
        gap: 12px;
        justify-content: center;
    }
    .follow-soc-item {
    }
    .follow-img-list {
        display: flex;
        gap: 9px;
        justify-content: center;
        margin-bottom: 25px;
    }
    .follow-img-item {
    }
    .follow-img {
        width: 115px;
        height: 115px;
    }
    .follow-heart{
        margin: 0 auto;
        margin-bottom: 26px;
        width: 40px;
        height: 40px;
    }



    .footer-section{
        background: #fff3f3;
        padding: 38px 191px 16px 165px;

    }
    .footer-list {
        display: flex;
        justify-content: space-between;
        
    }
    .footer-item {
    }
    .footer-logo{
        width: 104px;
    }
    .about-us {
        
    }
    .footer-item-title {
    font-weight: 700;
    font-size: 10px;
    color: #945d5d;
    margin-bottom: 12px;
    }
    .footer-about-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .footer-about-item {
    }
    .footer-about-text {
    font-weight: 500;
    font-size: 10px;
    color: #676767;
    }
    .footer-events-list {
        display: flex;
        gap: 86px;
    }
    .footer-events-item {
    }
    .footer-events-text {
        font-weight: 500;
    font-size: 10px;
    margin-bottom: 6px;
    color: #676767;
    }
    .footer-cont-list {
    }
    .footer-cont-item {
        margin-bottom: 11px;

    }
    .footer-cont-title {
        font-family: var(--third-family);
    font-weight: 700;
    font-size: 10px;
    color: #945d5d;
    }
    .footer-cont-link {
        font-family: var(--third-family);
    font-weight: 500;
    font-size: 10px;
    color: #676767;
    }
    .phone{
        font-size: 12px;
    font-weight: 700;

    }

    .footer-policy{
        display: flex;
        flex-direction: column;
        gap: 13px;
        align-items: center;
    }
    .footer-text {
        text-align: center;
        font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    color: #676767;
    }
    .footer-link {
        font-weight: 400;
        font-size: 10px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #676767;
    }

    .zakr-btn{
        position: fixed;
        width: 78px;
        height: 78px; 
        font-weight: 600;
        right: 7vw; 
        bottom: 5vw; 
        animation: up-down 10s ease infinite;
        border-radius: 50%;
        transition: opacity 1s ease-in-out;
        transform: translateY(0px);
        z-index: 9999;
        background: transparent;
        border: none;
    
    }








    .is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }

    .modal-section{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    } 
    /* .modal{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 1110px;
        height: 624px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        background: linear-gradient(180deg, #fbfbfb 0%, #fff 42.5%, #fbfbfb 100%);
        
    } */
    

    .modal1-section,
    .modal2-section,
    .modal3-section,
    .modal4-section,
    .modal5-section,
    .modal6-section{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal1,
    .modal2,
    .modal3,
    .modal4,
    .modal5,
    .modal6,
    .modal7{
        background: white;
        padding: 20px;
        border-radius: 10px;
    }
    .modal1-text,
    .modal2-text,
    .modal3-text,
    .modal4-text{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #676767;
    border-bottom:1px solid #d9d9d9;
    height: 50px;
    margin-top: 18px;
    }
    .modal1-title,
    .modal2-title,
    .modal3-title,
    .modal4-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #676767;
    margin-top: 30px;
    margin-bottom: 29px;
    }

    .close-modal-btn {
        position: absolute;
        top: 60px;
        right: 300px;
        background: none;
        border: none;
        cursor: pointer;
        height: 33px;
        width: 33px;
        
    }
    .modal1-list,
    .modal2-list,
    .modal3-list,
    .modal4-list {
        display: flex;
        gap: 13px;
        justify-content: center;
        margin-bottom: 35px;
    }
    .modal-item {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    }

    .modal-item:hover  {
        outline: 2px solid #945d5d;
        /* Зміни колір і товщину контуру за бажанням */
    }

    .modal-item.selected {
        outline: 2px solid #945d5d;
        color: #945d5d;
    }


    .modal1-img,
    .modal2-img,
    .modal3-img,
    .modal4-img {
        margin-bottom: 13px;
    }
    .modal1-test-text,
    .modal2-test-text,
    .modal3-test-text,
    .modal4-test-text {
        text-align: center;
        margin-bottom: 11px;
    }
    .test1-data-text,
    .test2-data-text,
    .test3-data-text,
    .test4-data-text  {
    font-weight: 600;
    font-size: 16px;
    color: #676767;
    }
    .test1-label{
        display: flex;
        justify-content: center;
        align-items: center;
    margin-bottom: 33px;
    }
    .test1-textarea {
        border: 1px solid #ccc;
    width: 190px;
    height: 41px;
    resize: none;
    margin-left: 5px;
    }
    .test1-wr,
    .test2-wr,
    .test3-wr,
    .test4-wr{
        display: flex;
        align-items: center;
    }




    .test1-btgn,
    .test2-btgn,
    .test3-btgn,
    .test4-btgn  {
        width: 255px;
    height: 46px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    background: #bf7d7d;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    }
    .tset1-skip,
    .tset2-skip,
    .tset3-skip,
    .tset4-skip {
        float: right;
        margin-right: 67px;


    }
    .test2-data-text {
        margin-bottom: 8px;
    }
    .test2-textarea {
        width: 981px;
        margin-bottom: 33px;
        border: 1px solid #ccc;
        height: 41px;
        resize: none;
        margin-left: 5px;

    }

    

    .test3-label,
    .test4-label  {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        margin-bottom: 33px;
    }
    .test3data-text {
    }
    .test3-textarea,
    .test4-textarea {
        width: 190px;
        height: 41px;
        resize: none;

    }

    .modal4-img {
        width: 234px;
        height: 234px;
    }

    .modal7-section{
        width: 1110px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .close-modal7-btn{
        position: absolute;
        top: 120px;
        right: 250px;
        background: none;
        border: none;
        cursor: pointer;
        height: 33px;
        width: 33px;

    }

    .modal7-list {
        display: flex;
    }
    .modal7{
        background: white;
        border-radius: 10px;
    }
    .modal7-item2 {
        background: url(../images/test8/last-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 698px;
    height: 490px;
        
    }
    .modal7-img {
        width: 412px;
        height: 490px;
    }
    .modal7-title {
        font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #945d5d;
    margin-top: 55px;
    margin-bottom: 28px;
    }
    .modal7-label-list {
        display: flex;
        justify-content: center;
        gap: 31px;
    }
    .modal7-label-item {
    }
    .modal7-label-text {
        font-weight: 400;
    font-size: 14px;
    color: #676767;
    }
    .modal7-label {

    }

    .input-wr{
        position: relative;
    }

    .modal7-svg{
        position: absolute;
        left: 10px;
        top: 35%;
        transform: translateY(-50%);
        transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);}
    .modal7-inout {
        font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.689);
    border: 1px solid #d9d9d9;
    width: 280px;
    height: 46px;
    margin-bottom: 17px;
    padding-left: 29px;
}
    .modal7-text {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #945d5d;
        margin-top: 16px;
    }
    .modal7-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 19px;
        margin-bottom: 21px;
    }
    .modal7-btn {
        width: 255px;
    height: 46px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    background: #bf7d7d;
    border: none;
    border-radius: 50px;
    }
    .modal7-form {
        font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #676767;
    margin-left: 54px;
    }
    .modal7-checkbox {
    }


    /* .modal-almubs {
        position: fixed;
        top: 0;
        left: 0;
        width: 1499px;
        height: 100%;
        background: #fff;
        padding: 0 74px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    } */
    .album1 {
    }
    .modal-almub1-title {
        text-align: center;
        font-family: "Cinzel";
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        color: #945d5d;
        margin-bottom: 19px;
    }
    .modal-almub1-photo-wrapper {
        /* position: relative; */
        width: 1500px;
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    .modal-alb1-img {
    }
    .alb1-img1{
        margin: 0 auto;
        margin-bottom: 53px;
    }
    .wrapper1{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .wrapper2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .wrapper3{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .wrapper4{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .alb1-img2 {
        width: 233px;
        height: 144px;
        
    }
    .alb1-img3 {
        width: 233px;
        height: 298px;
    
    }
    .alb1-img4 {
        width: 233px;
        height: 298px;
        
    }
    .alb1-img5 {
        width: 233px;
        height: 144px;
        
    }
    .alb1-img6 {
        width: 233px;
        height: 144px;
        
    }
    .alb1-img7 {
        width: 233px;
        height: 298px;
        
    }
    .alb1-img8 {
        width: 233px;
        height: 298px;
    
    }
    .alb1-img9 {
        width: 233px;
        height: 144px;
    
    }




    /* General Styles */
    body {
        font-family: Arial, sans-serif;
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        overflow: auto; 
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 3% auto;
        border: 1px solid #888;
        width: 1144px;
        padding: 25px 74px;
    position: relative;
    }
    .album-modal-title{
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: #945d5d;
        padding: 0;
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 13px;
        right: 13px;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .album-carousel {
        display: flex;
        overflow-x: auto;
        gap: 10px;
        width: 962px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    
    .album-carousel img {
        /* max-width: 100px; */
        margin: 0 px;
        cursor: pointer;
    }
    
    .main-image {
        text-align: center;
        margin-top: 20px;
        width: auto;
        height: 499px;
        margin-bottom: 50px;
    }
    
    .main-image img {
        margin: 0 auto;
    }
    .image-pair{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .album-carousel img.img1 {
        width: 233px;
        height: 144px;
    }
    
    .album-carousel img.img2 {
        width: 233px;
        height: 298px;
    }
    
    .album-carousel img.img3 {
        width: 233px;
        height: 298px;
    }

    .img2-cut{
        object-fit: cover; /* Це дозволяє обрізати зображення */
        object-position: center;
        width: 233px;
        height: 298px;
    }
    .single-image-column{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    #prev,
    #next,
    #prev-image,
    #next-image  {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        
    }
    
    #prev {
        left: 10px;
        border-radius: 3px 0 0 3px;
        font-size: 28px;
        position: fixed;

    
    
    }
    
    #next {
        right: 10px;
        border-radius: 3px 0 0 3px;
        font-size: 28px;
        position: fixed;

    
    }
    
    #prev:hover, #next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    
    
    
    
    #prev-image {
        left: 50px;
        transform: translateY(-50%);
        color: #bbb;
        font-size: 25px;
        position: absolute;
        top: 400px;
    }
    
    #next-image {
        right: 50px;
        transform: translateY(-50%);
        color: #bbb;
        font-size: 25px;
        position: absolute;
        top: 400px;
    }
    
    #prev:hover,
    #next:hover,
    #prev-image:hover,
    #next-image:hover {
        color: #bbb;
    }
    
    #next-albums {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    #next-albums img {
        max-width: 100px;
        cursor: pointer;
        transition: transform 0.3s;
    }
    
    #next-albums img:hover {
        transform: scale(1.1);
    }
    
    
    
    
    .next-main-images-wrapper{
        display: flex;
        gap: 10px;
        justify-content: center;
        width: 963px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .next-main-image{
        width: 314px;
        height: 171px;
        object-fit: cover; /* Це дозволяє обрізати зображення */
        object-position: top; /* Центрує зображення в контейнері */
    }
    
    .mod-btns-wrapper{
        display: flex;
        justify-content: space-between;
    }
    
    #back-btn{
        color: #bbb;
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #676767;
    }
    
    .submit-btn{
        width: 255px;
        height: 46px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
        background: #bf7d7d;
        border: none;
        border-radius: 50px;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
    }

    .more-btn-wrapper{
        text-align: center;
        margin-bottom: 22px;
    }
    #show-more-album,
    #show-more-albums{
        border: none;
        background-color: transparent;
        font-weight: 400;
        font-size: 16px;
        color: #676767;
    }
    #show-more-albums{
        margin-top: 22px;
    }
}

.burger-section{
    display: none;  
}